$gray-dark: #CFCFCF;
$gray-light: #F9F9F9;
$blue-dark: #7FB5FF;
$blue-light: #9EC5FA;
$pink-dark: #F178B6;
$pink-light: #FEF0F6;
$orange-dark: #F2994A;
$orange-light: #FAEBBD;
$green-dark: #27AE60;
$green-light: #A6D5BA;

$font-primary: 15px;
$font-secondary: 14px;
$font-tiny: 11px;

$text-primary: #000000;
$text-secondary: #7B7D86;

$bg-primary: #FFFFFF;
$bg-secondary: #F9F9F9;
